@import 'reset.css';
@import 'media.css';
@import 'fonts.css';

html {
  font-family: 'poppins', sans-serif;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  padding: 50px 80px 80px;
  background-color: #F3F3F3;

  font-size: 18px;

  @media (--xs-only) {
  }

  @media (--sm-only) {
  }

  @media (--md-only) {
  }

  @media (--lg-only) {
  }
}


.text {
  line-height: 1.6em;
  color: rgba(0,0,0,0.6);
}

.title {
  font-size: 104px;
}

.header {
  display: flex;
  justify-content: space-between;

  position: relative;
  z-index: 1;
}

.logo {
  display: inline-block;
  width: 178px;
  height: 36px;
  background-image: url('~/img/logo.svg');
}

.link {
  font-size: 20px;
  line-height: 1.5em;
  color: #000;
}
