@font-face {
    font-family: 'poppins';
    src: url('~/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('~/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('poppins-bold-webfont.woff2') format('woff2'),
         url('poppins-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('poppins-semibold-webfont.woff2') format('woff2'),
         url('poppins-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
