body {
  @media (--md-only) {
    .home-background__left {
      background-position: top 20% left;
    }
    .home-background__right {
      background-size: 1127px;
      background-position: top 5% left;
    }
    .home__text {
      width: 326px;
    }
  }
}

.home-background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.home-background__left {
  height: 100%;
  width: 40%;
  background-image: url('~/img/circle-00.svg');
  background-repeat: no-repeat;
  background-size: 930px;
  background-position: top 10% left;
}

.home-background__right {
  height: 100%;
  width: 60%;
  background-image: url('~/img/circle-01.svg');
  background-repeat: no-repeat;
  background-size: 1800px;
  background-position: top 10% left;
}

.home {
  flex: 1;
  display: flex;
  align-items: flex-end;

  position: relative;
}

.home__title {
  width: 40%;
  /* width: 700px; */
  /* width: calc(40% - 80px); */
}

.home__desc {
  padding: 0 0 80px 126px;
}

.home__text {
  margin-bottom: 60px;
  max-width: 475px;
}
