/* @import 'normalize.css'; */
@import 'reset.css';
@import 'media.css';
@import 'fonts.css';

html {
  font-family: 'poppins', sans-serif;
}

body {
  /* display: flex; */
  min-height: 100vh;
  background-color: #F3F3F3;

  @media (--xs-only) {
  }

  @media (--sm-only) {
  }

  @media (--md-only) {
  }

  @media (--lg-only) {
  }
}

/* .background {
  background-image: url('~/img/photo.jpg');
} */
