extends layout
block content
  //- #fullpage
  section.section#section0
    .about
      .about__header
      .about__content
        h1.title.about__title
          | about
          br
          | project
        .about__desc
          p.text.home__text
            | The balance card is&nbsp;a&nbsp;tool by&nbsp;which you analyze your priorities and find out in&nbsp;which area of&nbsp;life you need to&nbsp;make an&nbsp;effort to&nbsp;achieve inner harmony, regain a&nbsp;positive attitude and start living a&nbsp;full life.
          a.arrow-link(href="#") next
