extends layout
block content
  .home-background
    .home-background__left
    .home-background__right
  section.home
    .home__title
      h1.title
        | how
        br
        | to find
        br
        | a&nbsp;balance
    .home__desc
      p.text.home__text
        | The balance card is&nbsp;a&nbsp;tool by&nbsp;which you analyze your priorities and find out in&nbsp;which area of&nbsp;life you need to&nbsp;make an&nbsp;effort to&nbsp;achieve inner harmony, regain a&nbsp;positive attitude and start living a&nbsp;full life.
      a.arrow-link(href="#") begin
    
    aside.aside
      ul.list
        li.list__item
          | Work
        li.list__item
          | Relationship
        li.list__item
          | Family
        li.list__item
          | Health
        li.list__item
          | Friends
        li.list__item
          | Finance
        li.list__item.list__item--active
          | Relax
        li.list__item
          | Self-realization
      p.aside__number
        | 7
