extends layout
block content
  section.home
    .home__title
      h1 how to find a balance
    .home__desc
      p.text
        | The balance card is&nbsp;a&nbsp;tool by&nbsp;which you analyze your priorities and find out in&nbsp;which area of&nbsp;life you need to&nbsp;make an&nbsp;effort to&nbsp;achieve inner harmony, regain a&nbsp;positive attitude and start living a&nbsp;full life.
